<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat room</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!--iconos de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- css-->
    <link rel="stylesheet" type="text/css" href="/grupo3/src/main/resources/css/styles.css">
    <!-- DATA TABLE -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript">
        $(document).ready(function () {
            $('#clientList').DataTable();
        });
    </script>
</head>

<body>
    <div class="container">
        <h1 class="text-white fst-italic fw-semibold ">Chat Room</h1>
        <div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
            <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" id="list-tab" th:classappend=" ${listTab}" data-toggle="tab" href="#list"
                        role="tab" aria-controls="list" aria-selected="true">Contacts List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="group-tab" th:classappend=" ${groupTab}" data-toggle="tab" href="#groupList"
                        role="tab" aria-controls="groupList" aria-selected="false">Group List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="chat-tab" th:classappend=" ${chatTab}" data-toggle="tab" href="#chatList"
                        role="tab" aria-controls="chatList" aria-selected="false">Chat Room</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show " th:classappend=" ${listTab}" id="list" role="tabpanel"
                    aria-labelledby="list-tab">
                    <div class="card">
                        <div class="card-header">
                            <h4>My Contacts</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="clientList" class="table table-bordered table-hover table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">UserName</th>
                                            <th scope="col">Mail</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="client : ${clientList}">
                                            <th scope="row" th:text="${client.id}"></th>
                                            <td th:text="${client.username}"></td>
                                            <td th:text="${client.mail}"></td>
                                            <td>
                                                <a href="#chatList" ><i
                                                        class="fas fa-comment"></i></a>|
                                                <a href="#form" th:href="(mapeo de editar grupo)"><i
                                                        class="fas fa-edit"></i></a>|
                                                <a href="#" th:href="(mapeo de eliminar grupo)"><i
                                                        class="fas fa-user-times"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-12 text-center">
                                <a type="text" href="login.html" class="btn btn-secondary" value="Back">Logout</a>
                                <a type="text" href="addContact.html" class="btn btn-primary" value="Contact">New Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show " th:classappend=" ${groupTab}" id="groupList" role="tabpanel"
                    aria-labelledby="group-tab">
                    <div class="card">
                        <div class="card-header">
                            <h4>My Groups</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="groupList" class="table table-bordered table-hover table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Description</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="APLICAR TH(lista de grupo) : (lista de grupo)">
                                            <th scope="row" th:text="(campos de th)"></th>
                                            <td th:text="(campos de th)"></td>
                                            <td th:text="(campos de th)"></td>
                                            <td>
                                                <a href="#chatList" th:href="(mapeo de agregar un grupo)"><i
                                                        class="fas fa-comment"></i></a>|
                                                <a href="#form" th:href="(mapeo de editar un grupo)"><i
                                                        class="fas fa-edit"></i></a>|
                                                <a href="#" th:href="(mapeo de eliminar un grupo)"><i
                                                        class="fas fa-user-times"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-12 text-center">
                                <a type="text" href="login.html" class="btn btn-secondary" value="Back">Logout</a>
                                <a type="text" href="addContact.html" class="btn btn-primary" value="Contact">New Group</a>
                            </div>      
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show " th:classappend=" ${chatTab}" id="chatList" role="tabpanel"
                aria-labelledby="chat-tab">
                <div class="card">
                    <div class="card-header">
                        <h4>Chat</h4>
                    </div>
                    <div class="card-body">
                       <div>
                        <div class="accordion " id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseOne">
                                        Sent messages
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <table id="sentMessages" class="table table-bordered table-hover table-striped">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Content</th>
                                                    <th scope="col">Language</th>
                                                    <th scope="col">Creation date</th>
                                                    <th scope="col">Actions</th>
                                                
                                        
                                                </tr>
                                            </thead>
                                            <tbody >
                                                <tr th:each="APLICAR TH(lista de mensajes enviados) : (lista de mensajes)">
                                                    <th scope="row" th:text="(campos de th)"></th>
                                                    <td th:text="(campos de th)"></td>
                                                    <td th:text="(campos de th)"></td>
                                                    <td th:text="(campos de th)"></td>
                                                    <td>
                                                    
                                                        <a href="#" th:href="(mapeo de traducir un mensaje)"><i
                                                            class="fas fa-language"></i></a>|
                                                        <a href="#" th:href="(mapeo de eliminar un mensaje)"><i
                                                                class="fas fa-user-times"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                        Received messages
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        <table id="receivedMessages" class="table table-bordered table-hover table-striped">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Content</th>
                                                    <th scope="col">Language</th>
                                                    <th scope="col">Reception Date</th>
                                                    <th scope="col">Actions</th>
                                                
                                        
                                                </tr>
                                            </thead>
                                            <tbody >
                                                <tr th:each="APLICAR TH(lista de mensajes recibidos) : (lista de mensajes)">
                                                    <th scope="row" th:text="(campos de th)"></th>
                                                    <td th:text="(campos de th)"></td>
                                                    <td th:text="(campos de th)"></td>
                                                    <td th:text="(campos de th)"></td>
                                                    <td>
                                                    
                                                        <a href="#" th:href="(mapeo de traducir un mensaje)"><i
                                                            class="fas fa-language"></i></a>|
                                                        <a href="#" th:href="(mapeo de eliminar un mensaje)"><i
                                                                class="fas fa-user-times"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                           <form action="post">
                            <div class="d-flex mb-3">
                                <input class="form-control mb-3 mx-2 col-6" type="text" th:field="(mensaje_campo)" placeholder="Send you menssage" aria-placeholder="Send you menssage">
                                <button type="submit" class="btn btn-primary" ><i class="fas fa-paper-plane"></i></button>
                            </div>
                            <div class="form-group row">
								<div class="col-lg-12 text-center">
									<input type="reset" class="btn btn-secondary"  value="Cancel">
									<a type="text" href="login.html" class="btn btn-primary" value="Back">Logout</a>
									
								</div>
							</div>
                           </form>
                       </div>

                    </div>
                </div>
            </div>
            </div>
            
        </div>
    </div>
    </div>
    </div>
</body>

</html>