<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Chat room</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!--iconos de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>

    <!-- css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

</head>

<body>
    <div class="container">
        <div class="row col-12">
            <h1 class="text-white fst-italic fw-semibold ">Chat Room</h1>
            <div class="col-2">
            <a type="text" th:href="@{/logout}" class="btn btn-secondary" value="Back">Logout</a>
            </div>

            <div class="mx-auto col-sm-8 mt-5 " id="myTab" role="tablist">
                <ul class="nav nav-tabs justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" id="list-tab" th:classappend=" ${listTab}" data-toggle="tab"
                            href="#list" role="tab" aria-controls="list" aria-selected="true">Contacts List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="group-tab" th:classappend=" ${groupTab}" data-toggle="tab"
                            href="#groupList" role="tab" aria-controls="groupList" aria-selected="false">Group List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="chat-tab" th:classappend=" ${chatTab}" data-toggle="tab"
                            href="#chatList" role="tab" aria-controls="chatList" aria-selected="false">Chat Room</a>
                    </li>
                </ul>
                <!-- Tab de Contacto FUNCIONA-->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane" th:classappend=" ${listTab}" id="list" role="tabpanel"
                        aria-labelledby="list-tab">
                        <div class="card">
                            <div class="card-header">
                                <h4>My Contacts</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="contactList" class="table  table-hover table-striped w-75">
                                        <thead class="thead-light">
                                            <tr>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="contact : ${contacts}">

                                                <td class="fst-italic fw-bold fs-6" th:text="${contact.username}">nombre</td>

                                                <td class="text-end">
                                                    <a th:href="@{/mvc/chat/{id}(id = ${contact.id})}"><i class="fas fa-comment"></i></a>|
                                                    <a href="#" th:href="@{/mvc/deleteContact/{id}(id = ${contact.id})}"><i
                                                            class="fas fa-user-times"></i></a>|
                                                        <a href="#" th:href="@{/mvc/blockContact/{id}(id = ${contact.id})}"><i
                                                            class="fas fa-ban"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <a type="text" th:href="@{/mvc/addContact}" class="btn btn-primary" value="Contact">New Contact</a>
                                    <!-- Button trigger modal list block -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">Block List</button>
                                    <!-- Button trigger modal search contact -->
                                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal5">
                                        <i class="fas fa-magnifying-glass"></i>
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin Tab de contacto -->
                    <!-- Tab de grupo -->
                    <div class="tab-pane" th:classappend=" ${groupTab}" id="groupList" role="tabpanel"
                        aria-labelledby="group-tab">
                        <div class="card">
                            <div class="card-header">
                                <h4>My Groups</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="listGroup" class="table  table-hover table-striped w-75">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="group: ${groups}">
<!--                                                <th scope="row" ></th>-->
                                                <!-- Modal de edit group FUNCIONA,NO TOCAR-->
                                                <div class="modal fade color-primary" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <form th:object="${eGroup}" th:action="@{/mvc/editGroup/{idG}(idG = ${group.id})}" method="post">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel2">Edit Group</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">

                                                                    <label for="editName" class="form-label fst-italic fw-bold">Insert name</label>
                                                                    <input class="form-control mb-3 mx-1 col-10 fst-italic  fs-7 " id="editName" type="text"
                                                                           th:field="${eGroup.name}">

                                                                    <label for="newDescription" class="form-label fst-italic fw-bold">Description</label>
                                                                    <input class="form-control mb-3 mx-1 col-10 fst-italic  fs-7 " id="newDescription" type="text"
                                                                           th:field="${eGroup.description}">
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
<!--                                                Fin Modal de edit group-->
                                                        <!-- Modal de agregar miembro grupo-->
<!--                                                <div class="modal fade color-primary" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true" >-->
<!--                                                    <div class="modal-dialog">-->
<!--                                                        <form action="">-->
<!--                                                            <div class="modal-content">-->
<!--                                                                <div class="modal-header">-->
<!--                                                                    <h5 class="modal-title" id="exampleModalLabel3">Add member to Group</h5>&ndash;&gt;-->
<!--                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                                                                </div>-->
<!--                                                                <div class="modal-body">-->
<!--                                                                    <table id="contactListForGroup" class="table  table-hover table-striped w-75">-->
<!--                                                                        <thead class="thead-light">-->
<!--                                                                        <tr>-->
<!--                                                                        </tr>-->
<!--                                                                        </thead>-->
<!--                                                                        <tbody>-->
<!--                                                                        <tr th:each="contact : ${contactM}">-->
<!--                                                                            &lt;!&ndash; <td><img th:src="SE APLICA EL TH DE LA IMG/ICON" src="/grupo3/src/main/resources/img/icons/1.png"-->
<!--                                                                                    width="28px" alt="">-->
<!--                                                                            </td> &ndash;&gt;-->
<!--                                                                            <td class="fst-italic fw-bold fs-6" th:text="${contact.username}">Username-->
<!--                                                                            </td>-->

<!--                                                                            <td class="text-end">-->
<!--                                                                                <a th:href="@{/mvc/addM/{idG}/{idC} (idG = ${group.id}) (idC = ${contact.id})}"><i class="fas fa-thumbs-up"></i></a>-->
<!--                                                                            </td>-->
<!--                                                                        </tr>-->
<!--                                                                        </tbody>-->
<!--                                                                    </table>-->
<!--                                                                </div>-->
<!--                                                                <div class="modal-footer">-->
<!--                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->

<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </form>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                        <div class="modal fade color-primary" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">-->
<!--                                                            <div class="modal-dialog">-->
<!--                                                                <div class="modal-content">-->
<!--                                                                    <div class="modal-header">-->
<!--                                                                        <h5 class="modal-title" id="exampleModalLabel3">Add member</h5>-->
<!--                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                                                                    </div>-->
<!--                                                                    <form th:object="${searchC}"  th:action = "@{/mvc/addM/{idG} (idG = ${group.id})}"> &lt;!&ndash;th:if="${searchC}"&ndash;&gt;-->
<!--                                                                        <div class="modal-body">-->
<!--                                                                            -->
<!--                                                                                <div class="mt-3" th:if="${searchC}">-->
<!--                                                                                    <label id="groupSearched" th:txt="${searchC.name}" class="form-label fst-italic fw-bold"></label>-->
<!--                                                                                </div>-->
<!--                                                                            <div class="modal-footer">-->
<!--                                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                                                                                <button type="submit" class="btn btn-primary">Save changes</button>-->
<!--                                                                            </div>-->
<!--                                                                            </div>-->
<!--                                                                    </form>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
                                                        <!--Fin Modal de agregar miembro al group-->
                                                <td th:text="${group.id}"></td>
                                                <td th:text="${group.name}"></td>
                                                <td th:text="${group.description}"></td>
                                                <td class="text-end">
                                                    <a href="#chatList" ><i class="fas fa-comment"></i></a>|
                                                    <!-- link trigger modal add member into group-->
                                                    <a th:href="@{/mvc/toGroupM/{idG}(idG = ${group.id})}"><i class="fas fa-user-group"></i></a>|
                                                    <!-- link trigger modal edit group -->
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2"><i class="fas fa-edit"></i></a>|
                                                    <!-- button borrar group -->
                                                     <a href="#" th:href="@{/mvc/deleteG/{idG}(idG = ${group.id})}"><i class="fas fa-user-times"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12 text-center">
                                    
                                    <!-- Button trigger modal new group -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        New group
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin  Tab de grupo -->
                    <!-- Tab de chat -->
                    <div class="tab-pane" th:classappend=" ${chatTab}" id="chatList" role="tabpanel"
                        aria-labelledby="chat-tab">
                        <div class="card">
                            <div class="card-header">
                                <h4>Chat</h4>
                            </div>
                            <div class="card-body">

                                <div class="mb-3">
                                    <h4 th:if="${contactName}"  th:text=""></h4>
                                    <table id="sentMessages" class="table  table-hover table-striped  "
                                        style="width:100%">
                                        <thead class="thead-dark">

                                        </thead>
                                        <tbody>
                                            <tr th:each="message: ${messages}">
                                                <div th:if="${message.senderId == userId}">
                                                    <td class="width:10%  text-start">
                                                        <a style="color:black; font-size: x-small;"><span th:text="${message.creationDate}"></span></a>
                                                    </td>
                                                    <td class="width:95%  text-end">
                                                        <a style="color:black"><span th:text="${message.content}"></span></a>
                                                    </td>
                                                    
                                                </div>
                                                <div th:if="${message.senderId != userId}">
                                                    <td class="width:95%  text-start">
                                                        <a style="color:black" th:href="@{/mvc/translate/{id}(id=${message.id})}"><span th:text="${message.content}"></span></a>
                                                    </td>
                                                    <td class="width:5%  text-end">
                                                        <a style="color:black; font-size: x-small;"><span th:text="${message.creationDate}"></span></a>
                                                    </td>
                                                </div>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <form th:object="${newMessage}" th:action="@{/mvc/newMessage}" method="post" class="mt-3">
                                    
                                            <div class="form-floating col-12 mb-3">
                                                <textarea class="form-control" style="height: 100px" placeholder="Send message..." id="floatingTextarea" th:field="*{content}"></textarea>
                                                <label for="floatingTextarea"></label>
                                            </div>
                                            <input type="hidden" th:field="*{receiverId}"/>
                                            <div class=" text-center">
                                            <button type="submit" class="btn btn-primary  text-end"><i
                                                class="fas fa-paper-plane fs-4"></i></button>
                                            </div>
                                       
                                    
                                   
                                </form>


                            </div>

                        </div>

                    </div>
                    <!--Fin Tab de chat -->
                </div>

            </div>
        </div>
        <!--Modal de new group FUNCIONA,NO TOCAR-->
     <div class="modal fade color-primary" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <form th:object="${nGroup}" th:action="@{/mvc/createGroup}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Group</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <label for="newName" class="form-label">Insert name</label>
                            <input class="form-control mb-3 mx-1 col-10 fst-italic fw-bold fs-7 " id="newName"
                                type="text" th:field="${nGroup.name}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Fin Modal de new group-->


        <!-- Modal de lista contactos bloqueados-->
        <div class="modal fade color-primary" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4"
            aria-hidden="true">
            <div class="modal-dialog">
                <form action="">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel4">Bloqued contacts</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table id="blockList" class="table  table-hover table-striped w-75">
                                <thead class="thead-light">
                                    <tr>
                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="block : ${blocks}">
                                        <!-- <td><img th:src="SE APLICA EL TH DE LA IMG/ICON" src="/grupo3/src/main/resources/img/icons/1.png"
                                                width="28px" alt="">
                                        </td> -->
                                        <td class="fst-italic fw-bold fs-6" th:text="${block.username}">nombre
                                        </td>
                        
                                        <td class="text-end">
                                            <a th:href="@{/mvc/deleteBlock/{id}(id = ${block.id})}"><i class="fas fa-user-unlock"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--Fin Modal de lista contactos bloqueados-->



        <!-- Modal de agregar miembro grupo-->
        <!-- <div class="modal fade color-primary" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5"
            aria-hidden="true">
            <div class="modal-dialog">
                
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel5">Find contact</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        
                            <div class="modal-body">
                                <form action="">
                                    
                                        <div>
                                            <label for="seachContact" class="form-label fst-italic ">Insert username or email</label>
                                        </div>
                                        <div>
                                            <input class="form-control mb-3 mx-1 col-10 fst-italic fw-bold fs-7 " id="seachContact" type="text"
                                                th:field="(campo_nombreGrupo)">
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-primary"><i class="fas fa-magnifying-glass"></i></button>
                                        
                                        </div>
                                </form>
                                <div class="table-responsive mt-3">
                                    <table id="findList" class="table  table-hover table-striped w-75">
                                        <thead class="thead-light">
                                            <tr>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="(objeto contactos buscados del usuario)">
                                                <td class="fst-italic fw-bold fs-6" th:text="(contacto_nombre)">nombre
                                                </td>

                                                <td class="text-end">
                                                    <a href="#chatList"><i class="fas fa-comment"></i></a>|
                                                    <!-- link trigger modal add member into group-->
                                                    <!-- <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3"><i
                                                            class="fas fa-user-group"></i></a>|
                                                    <a href="#" th:href="(mapeo de eliminar contacto)"><i
                                                            class="fas fa-user-times"></i></a>|
                                                    <a href="#" th:href="(mapeo de bloquear contacto)"><i
                                                            class="fas fa-ban"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        
                            </div>
                        
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                
                            </div>
                        
                    </div>
                
            </div>
        </div> -->
        <!-- Fin Modal busqueda contacto -->
    </div>
    </div>

    </div>
    </div>
    </div>
    </div>
</body>

</html>